<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>Vaadin Web Application</display-name>
    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>
    <servlet>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
        <init-param>
            <description>Vaadin application class to start</description>
            <param-name>application</param-name>
            <param-value>org.vaadin.addons.vol.example.VolExampleApplication</param-value>
        </init-param>
        <init-param>
            <param-name>widgetset</param-name>
            <param-value>org.vaadin.addons.vol.example.gwt.VolExampleWidgetSet</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Vaadin Application Servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet>
    	<servlet-name>p</servlet-name>
    	<servlet-class>org.vaadin.addons.vol.example.Proxy</servlet-class>
    	<init-param>
    		<param-name>ProxyTo</param-name>
    		<param-value>http://your.com/wfs/service/</param-value>
    	</init-param>
    	<init-param>
    		<param-name>Prefix</param-name>
    		<param-value>/PROXY/</param-value>
    	</init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>p</servlet-name>
        <url-pattern>/PROXY/*</url-pattern>
    </servlet-mapping>
</web-app>